extends layout

block content

        h1 Update Climb: #{climb.Name} - #{location.Name}   
        if user
            form(action="/locations/"+location.ID+"/climb/"+climb.ID+"/editclimb"  method="post")
                legend Climb Info
                    fieldset
                        section
                            label(for="name") Climb Name:  
                            input(name="name" value=climb.Name required)
                        section
                                label(for="location") Location (Cannot Change):
                                if location
                                    input(name="location" value=location.Name readonly="true")
                                    input(name="locationID" value=location.ID type="hidden")
                                else
                                    input(name="location" required)
                        section
                            label(for="grade") Community Grade (V):  
                            input(name="grade", type="number", value=climb.Grade, min="0", max="17" placeholder="0-5" required)
                        //section     
                            label(for="notes") Notes: 
                            textarea(name="notes" type="text")
                        <button type="submit">Submit </button>
            
        else 
            <a href="/login">Sign in </a>
            span to edit this climb!

        br
        a(href="/Locations/" + location.ID + "/Climb/" + climb.ID) Back to Climb
        br
        span #{msg}